# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Editor state
.vscode/launch.json
__debug_*

# Application data
client/dist
.env
data
private.pem
